.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 3.5%;
  background-image: url(~@/assets/homepage/background.png);
  background-size: cover;
  background-repeat: no-repeat;

  .header {
    display: flex;
    justify-content: space-between;
    .header-left {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      height: 100%;
      .prepose {
        width:12px;
        height:48px;
        background: #2C5FC6;
        margin-right: 9px;
        margin-bottom: 2px;
      }
      .companyName {
        height:18px;
        color:rgba(234,235,241,1);
      }
      .platformName {
        font-size:25px;
        font-family:AlibabaPuHuiTiM;
        font-weight:500;
        color:rgba(234,235,241,1);
      }
      .place {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 13px;
        img {
          margin-bottom: 2px;
        }
        .placeName {
          color: #2C5FC6;
          margin-left: 2px;
        }
      }
    }
    .header-right {
      width: 192px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      .avatarClass {
        width: 42px;
        height: 42px;
      }
      .info {
        margin-left: 12px;
        width: 106px;
        .name {
          color: #FFFFFF;
          font-size: 18px;
          padding-bottom: 7px;
        }
        .role {
          color: #74717A;
          font-size: 12px;
        }
      }
      .menuClass {
        width: 33px;
        height: 24px;
      }
    }
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .box3d-contain {
      transform: perspective(500px);
      transform-style: preserve-3d;
      @mixin common() {
        &:hover {
          background: linear-gradient(#295BBD, #2B62CE);
        }
        cursor: pointer;
        margin-left: 10px;
        width: 200px;
        background-image: url(~@/assets/homepage/innerImg.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-image:linear-gradient(0deg, rgba(147, 147, 152, 0.48), rgba(102, 102, 106, 0.48)) 2 2;
        background-position: center center;
        .inner-container {
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .imgClass {
          width: 40px;
          height: 40px;
          color: white;
        }
        .platformCNname {
          text-align: center;
          color: white;
          font-size: 20px;
          padding-top: 25px;
        }
        .platformENname {
          text-align: center;
          color: #DBDBDB;
          font-size: 12px;
          opacity: 0.8;
          padding-top: 10px;
        }
      }
      $outer: 210px;
      $middle: 190px;
      $inner: 180px;
      .box3d-first {
        height: $outer;
        transform: rotatey(15deg);
        @include common;
      }
      .box3d-two {
        height: $middle;
        transform: rotatey(10deg);
        @include common;
      }
      .box3d-three {
        height: $inner;
        transform: rotatey(5deg);
        @include common;
      }
      .box3d-four {
        height: $inner;
        transform: rotatey(-5deg);
        @include common;
      }
      .box3d-five {
        height: $middle;
        transform: rotatey(-10deg);
        @include common;
      }
      .box3d-six {
        height: $outer;
        transform: rotatey(-15deg);
        @include common;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4px;
    .footer-left {
      .pre-color {
        color: #FFFFFF;
      }
      color: #74717A;
      font-size: 12px
    }
    .footer-right {
      color: #EAEBF1;
      font-size: 12px
    }
  }
  .extend {
    position: absolute;
    // height: 8.854vw;
    // width: 180px;
    padding: 1.302vw 1.04167vw 1.5625vw 1.40625vw;
    right: 4.05625vw;
    bottom: 4.6875vw;
    display: flex;
    flex-direction: column;
    background-image: url(~@/assets/homepage/personWarning.png);
    background-position: center center;
    border: 1px solid;
    border-image: linear-gradient(0deg, rgba(147, 147, 152, 0.48), rgba(102, 102, 106, 0.48)) 2 2;
    strong {
      text-align: left;
      font-size: 20px;
      color: rgba(215, 215, 222, 0.88);
      margin-bottom: 1.04167vw;
    }
    .inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 5.2083vw;
      span {
        display: inline-block;
        width: 100px;
        color: rgba(215, 215, 222, 0.72);
      }
      a {
        text-decoration: underline; 
        color: rgba(72, 117, 208, 1);
      }
    }
  }
  // /deep/ {
  // }
}